<!DOCTYPE html PUBLIC" -//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Accept invitation</title>
   
    </style>
    </head>

    <body style="font-size: 16px; background-color: #5875F6; padding: 30px
        120px">
        <div style="background-color: white; padding: 20px">

            <div style="header">
                <img style="width:170px; margin: 0 auto;"
                    src="https://res.cloudinary.com/webexe/image/upload/v1635619244/Israpoly/israpoly-logo_mrhlli.png"
                    alt="picsum"
                    width="600" />
            </div>
            <hr/>
            <div class="body" style=" background-color:white">
                 <p>Hello, {{email}}</p>
                 <p>{{name}} has invited you to join as a Account Manager.</p>
                 <p>Your invitation link: <a href="http://localhost:3000/accept_invitation?token={{token}}&email={{email}}">http://localhost:3000/accept_invitation?token={{token}}&email={{email}}</a></p>
                 <p>Please click the link to accept the invitation and complete your registration process.</p>
            </div>

        </div>
        {{!-- <div style="padding-top:30px;">
             <p style="font-size: 10px;">Israpoly.com all rights reserved</p>  
        </div> --}}
    </body>
</html>