<!DOCTYPE html PUBLIC" -//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Verify your mail</title>
   
    </style>
    </head>

    <body style="font-size: 16px; background-color: #FFC600; padding: 30px
        120px">
        <div style="background-color: white; padding: 20px">

            <div style="header">
                <img style="width:170px; margin: 0 auto;"
                    src="https://res.cloudinary.com/webexe/image/upload/v1644256962/Israpoly/Screenshot_2022-02-07_235902-removebg-preview_jsecds.png"
                    alt="Tiflato"
                    width="600" />
            </div>
            <hr/>
            <div class="body" style=" background-color:white">
                 <p>Hello {{name}}</p>
                 <p>Here is your password reset link:  <a href={{web_url}}/reset_password/new_pwd?token={{token}}&uid={{uid}}&email={{email}}>{{web_url}}/reset_password/new_pwd?token={{token}}&uid={{uid}}&email={{email}}</a></p>
            </div>

        </div>
        {{!-- <div style="padding-top:30px;">
             <p style="font-size: 10px;">Israpoly.com all rights reserved</p>  
        </div> --}}
    </body>
</html>